.chat {
  background-color: #e7e7e7;
  &__wrap {
    padding: 50px 20px 20px 20px;
    max-width: 1076px;
    margin: 0 auto;

    &__title {
      color: var(--third-color);
      text-align: center;
      font-family: Geogrotesque Cyr;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.16px;
      text-transform: uppercase;
      margin-bottom: 47.5px;
    }

    &__list {
      margin-bottom: 55px;
      display: grid;
      gap: 25px;
      &__item {
        display: flex;
        &__avatar {
          width: 60px;
          height: 60px;
          z-index: 2;
        }

        &__message {
          max-width: 580px;
          z-index: 1;
        }
      }
    }

    &__info {
      color: #838383;
      text-align: center;
      font-family: Geogrotesque Cyr;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 125%; /* 20px */
      letter-spacing: 0.32px;
      text-align: center;
    }
  }
}

.chat__wrap__list__item:nth-child(2n) {
  justify-content: flex-end;
  align-items: end;
  margin-bottom: 20px;
  position: relative;

  .chat__wrap__list__item__avatar {
    order: 2;
  }

  .chat__wrap__list__item__message {
    max-width: 540px;
    background-color: var(--primary-color);
    order: 1;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    border-bottom-left-radius: 44px;
    padding: 22px 20px;
    position: relative;
    right: 0;

    .chat__wrap__list__item__message__text {
      color: #fff;
      font-family: Geogrotesque Cyr;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 125%; /* 21.25px */
      letter-spacing: 0.34px;
    }
  }

  .chat__wrap__list__item__message span {
    display: block;
    position: absolute;
    height: 100%;
    width: 14px;
    border-width: 10px;
    border-style: solid;
    border-radius: 60px;
    border-right: 2px;
    background: #e7e7e7;
    bottom: 0;
    right: -9px;
    border-bottom-right-radius: 0px;
    color: #e7e7e7;
  }
}
.chat__wrap__list__item:nth-child(2n + 1) {
  justify-content: flex-start;
  align-items: end;
  position: relative;

  .chat__wrap__list__item__avatar {
    order: 1;
  }

  .chat__wrap__list__item__message {
    max-width: 540px;
    order: 2;
    background-color: var(--secondary-color);
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
    padding: 22px 20px 22px 40px;

    .chat__wrap__list__item__message__text {
      color: #fff;
      font-family: Geogrotesque Cyr;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 125%;
      letter-spacing: 0.34px;
    }
  }

  .chat__wrap__list__item__message span {
    display: block;
    position: absolute;
    height: 100%;
    width: 14px;
    border-width: 10px;
    border-style: solid;
    border-radius: 60px;
    border-right: 2px;
    background: #e7e7e7;
    bottom: 0px;
    left: 50px;
    border-bottom-left-radius: 0px;
    color: #e7e7e7;
  }
}

@media screen and (min-width: 992px) {
  .chat {
    &__wrap {
      padding: 86px 0px 80px 0px;
      max-width: 1076px;
      margin: 0 auto;

      &__title {
        color: var(--third-color);
        text-align: center;
        font-family: Geogrotesque Cyr;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.16px;
        text-transform: uppercase;
        margin-bottom: 47.5px;
      }

      &__list {
        margin-bottom: 55px;
        display: grid;
        gap: 25px;
        &__item {
          display: flex;
          &__avatar {
            width: 87px;
            height: 87px;
            z-index: 2;
          }

          &__message {
            max-width: 580px;
            z-index: 1;
          }
        }
      }

      &__info {
        font-size: 20px;
      }
    }
  }

  .chat__wrap__list__item:nth-child(2n) {
    margin-bottom: 32px;
    .chat__wrap__list__item__avatar {
      order: 2;
    }

    .chat__wrap__list__item__message {
      padding: 25.5px 30px 35px 30px;
    }
  }
  .chat__wrap__list__item:nth-child(2n + 1) {
    .chat__wrap__list__item__avatar {
      order: 1;
    }

    .chat__wrap__list__item__message {
      padding: 25.5px 30px 35px 30px;
    }

    .chat__wrap__list__item__message span {
      left: 80px;
    }
  }
}
