.dream {
  background-image: url("../images/dream/dream-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__fone {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/dream/fone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__wrap {
    padding: 44px 0 79px 0;
    display: grid;
    gap: 100px;

    &__first-block {
      position: relative;
      z-index: 2;

      padding: 40px 21px 78px 21px;
      border-radius: 47px;
      border: 3px dashed #fff;
      background: radial-gradient(
        139.66% 138.18% at 107.11% 22.34%,
        rgba(255, 255, 255, 0.23) 7.55%,
        rgba(0, 87, 255, 0.2) 90.54%
      );
      backdrop-filter: blur(6px);

      &__title {
        color: #071829;
        font-family: Geogrotesque Cyr;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 55.5px;
      }

      &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 31px;

        &__item {
          background: linear-gradient(
            176deg,
            rgba(83, 234, 80, 0.95) 0%,
            rgba(2, 92, 142, 0.95) 100%
          );
          border-radius: 28px;
          padding: 3px;
          overflow: hidden;

          &__content {
            border-radius: 28px;
            display: flex;
            align-items: center;
            gap: 32px;
            padding: 29px 25.5px 29px 31.5px;
            background: rgba(255, 255, 255, 1);
            overflow: hidden;

            &__img {
              padding: 0;
              width: 61.447px;
              height: 61.447px;
              z-index: 1;
            }

            &__text {
              color: var(--third-color);
              font-family: Geogrotesque Cyr;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              z-index: 1;
            }
          }
        }
      }
      &__arrow {
        position: absolute;
        bottom: -95px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__second-block {
      padding: 30.5px 10px 43px 10px;
      border-radius: 47px;
      background: radial-gradient(
        139.66% 138.18% at 107.11% 22.34%,
        rgba(11, 193, 98, 0.59) 7.55%,
        rgba(0, 87, 255, 0.53) 90.54%
      );
      backdrop-filter: blur(20.5px);

      &__title {
        color: #fff;
        text-align: center;
        font-family: Geogrotesque Cyr;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.16px;
        text-transform: uppercase;
        margin-bottom: 26.5px;
      }

      &__text {
        color: #fff;
        text-align: center;
        font-family: Geogrotesque Cyr;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 16.5px; /* 91.667% */
        margin-bottom: 46px;
      }

      &__list {
        display: grid;
        gap: 66.5px;
        padding: 0 0px 0 0px;
        justify-content: center;

        &__item {
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 25px;
          align-items: center;
          justify-content: center;

          &__circle {
            border-radius: 50%;
            border: 3px dashed #fff;
            width: 103px;
            height: 103px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &__bottom {
              position: absolute;
              bottom: -63px;
              display: block;
            }
            &__right {
              position: absolute;
              right: -124px;
              display: none;
            }
          }
          &__circle.first {
            background-color: #17b227;
          }
          &__circle.first span {
            color: #fff;
          }
          &__circle span {
            color: var(--third-color);
            text-align: center;
            font-family: TYPOGRAPH PRO;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 17.5px;
          }

          &__text {
            color: #fff;
            font-family: Geogrotesque Cyr;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .dream {
    &__wrap {
      padding: 134px 0 119px 0;
      gap: 108px;

      &__first-block {
        padding: 40px 60px 62px 60px;
        &__title {
          font-size: 52px;
          margin-bottom: 65px;
        }

        &__list {
          grid-template-columns: 1fr 1fr;
          gap: 43px;

          &__item {
            &__content {
              gap: 48px;
              padding: 36px 25.5px 23px 50px;

              &__img {
                width: 75px;
                height: 75px;
              }

              &__text {
                font-size: 24px;
              }
            }
          }
        }
      }
      &__second-block {
        padding: 48px 55px 75px 55px;
        border-radius: 47px;

        &__title {
          font-size: 52px;
          letter-spacing: 0.26px;
          margin-bottom: 15px;
        }

        &__text {
          font-size: 20px;
          line-height: 78px;
          margin-bottom: 36px;
        }

        &__list {
          grid-template-columns: repeat(4, 1fr);
          //   gap: 64px;

          &__item {
            grid-template-columns: 1fr;
            justify-content: center;

            &__circle {
              border-radius: 50%;
              border: 3px dashed #fff;
              width: 103px;
              height: 103px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              margin: 0 auto;

              &__bottom {
                position: absolute;
                bottom: -63px;
                display: none;
              }
              &__right {
                position: absolute;
                display: block;
              }
            }
            &__circle.first {
              background-color: #17b227;
            }
            &__circle.first span {
              color: #fff;
            }
            &__circle span {
              color: var(--third-color);
              text-align: center;
              font-family: Geogrotesque Cyr;
              font-size: 18px;
              font-style: normal;
              font-weight: 800;
              line-height: 17.5px;
            }

            &__text {
              color: #fff;
              font-family: Geogrotesque Cyr;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
