.form-block {
  padding: 180px 12px 80px 12px;
  &__form {
    &__map {
      display: none;
    }
    max-width: 1164px;
    width: 100%;
    border-radius: 34px;
    border: 2px solid #2563eb;
    background: rgba(16, 90, 255, 0.73);
    backdrop-filter: blur(5.5px);
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    justify-content: center;
    margin: 0 auto;

    padding: 181px 16px 56px 16px;

    &__wrap-img {
      position: absolute;
      top: -55px;
      right: 25px;

      &__image {
        max-width: 226px;
        max-height: 226px;
      }
    }

    &__title {
      margin-bottom: 46px;
      color: #fff;
      font-family: Geogrotesque Cyr;
      font-size: 34px;
      font-style: italic;
      font-weight: 300;
      line-height: 43px; /* 126.471% */
      text-transform: uppercase;
      width: 85%;
      margin: 0 auto;
      margin-bottom: 46px;
    }
    &__title span {
      color: #fff;
      font-family: Geogrotesque Cyr;
      font-size: 34px;
      font-style: italic;
      font-weight: 600;
      line-height: 43px;
      text-transform: uppercase;
    }

    &__wrap-input {
      display: grid;
      grid-template-columns: 1fr;
      gap: 6px;

      &__input {
        padding: 11px 14px 15.426px 14px;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid #0097f0;
        background: #fff;
        color: #036;
        font-family: Geogrotesque Cyr;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%; /* 19.6px */
      }
      &__input::placeholder {
        color: #036;
        font-family: Geogrotesque Cyr;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%; /* 19.6px */
      }

      &__block {
        position: relative;
        min-width: 100%;
        margin-bottom: 62px;

        &__flag {
          padding: 12.5px;
          height: 100%;
          display: flex;
          gap: 7px;
          align-items: center;
          top: 0;
          position: absolute;
          border-radius: 9px;
          background: rgba(148, 154, 175, 0.75);
        }
      }
      &__input-phone {
        padding: 11px 14px 15.426px 100px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #0097f0;
        color: #036;
        font-family: TYPOGRAPH PRO;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 25.2px */
        width: 100%;
      }
      &__input-phone::placeholder {
        color: #036;
        font-family: Geogrotesque Cyr;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
      }

      &__btn {
        width: 100%;
        overflow: hidden;
        color: #fff;
        text-align: center;
        font-kerning: none;
        font-feature-settings: "numr" on, "liga" off;
        text-overflow: ellipsis;
        font-family: Geogrotesque Cyr;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 35.5px; /* 118.333% */
        text-transform: uppercase;
        border: 3px solid #fff;
        padding: 20px;
        border-radius: 45px;
        border: 3px solid #fff;
        background: linear-gradient(
          176deg,
          rgba(83, 234, 80, 0.95) 0%,
          rgba(2, 92, 142, 0.95) 100%
        );
        backdrop-filter: blur(7px);
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .form-block {
    padding: 152px 0px 253px 0;
    &__form {
      grid-template-columns: 1fr 1fr auto;
      padding: 42px 87px 45px 0px;

      &__wrap-img {
        margin-left: -40px;
        position: relative;
        top: 0;
        right: 0;

        &__image {
          width: 100%;
          max-width: 363px;
          max-height: 363px;
        }
      }

      &__title {
        font-size: 55px;
        line-height: 61px;
      }
      &__title span {
        font-size: 55px;
        line-height: 61px;
      }

      &__wrap-input {
        max-width: 290px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 6px;

        &__block {
          position: relative;
          min-width: 100%;
          margin-bottom: 62px;

          &__flag {
            padding: 11.5px;
            height: 94%;
          }
        }

        &__btn {
          width: 100%;
          overflow: hidden;
          color: #fff;
          text-align: center;
          font-kerning: none;
          font-feature-settings: "numr" on, "liga" off;
          text-overflow: ellipsis;
          font-family: Geogrotesque Cyr;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: 35.5px; /* 118.333% */
          text-transform: uppercase;
          border: 3px solid #fff;
          padding: 20px;
          border-radius: 45px;
          border: 3px solid #fff;
          background: linear-gradient(
            176deg,
            rgba(83, 234, 80, 0.95) 0%,
            rgba(2, 92, 142, 0.95) 100%
          );
          backdrop-filter: blur(7px);
        }
      }
      &__map {
        display: block;
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;
        background-position: center;
        overflow: hidden;
        z-index: -1;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-image: url("../images/course/world-map-bg.png");
      }
    }
  }
}
